---
import { type CharactersProps } from "../../types/characters";
import Layout from "../../layouts/Layout.astro";
import VisionCard from "../../components/VisionCard.astro";
import { getCharacterById } from "../../services/getCharacters";
import Talents from "../../components/character/Talents.astro";
import Passives from "../../components/character/Passives.astro";
import HeadCharacter from "../../components/character/HeadCharacter.astro";
import Constellations from "../../components/character/Constellations.astro";
const { id } = Astro.params;

const data = (await getCharacterById(String(id))) as CharactersProps;
export function getStaticPaths() {
  const characters = [
    "albedo",
    "alhaitham",
    "aloy",
    "amber",
    "arataki-itto",
    "ayaka",
    "ayato",
    "baizhu",
    "barbara",
    "beidou",
    "bennett",
    "candace",
    "charlotte",
    "chevreuse",
    "chongyun",
    "collei",
    "cyno",
    "dehya",
    "diluc",
    "diona",
    "dori",
    "eula",
    "faruzan",
    "fischl",
    "freminet",
    "furina",
    "gaming",
    "ganyu",
    "gorou",
    "hu-tao",
    "jean",
    "kaeya",
    "kaveh",
    "kazuha",
    "keqing",
    "kirara",
    "klee",
    "kokomi",
    "kuki-shinobu",
    "layla",
    "lisa",
    "lynette",
    "lyney",
    "mika",
    "mona",
    "nahida",
    "navia",
    "neuvillette",
    "nilou",
    "ningguang",
    "noelle",
    "qiqi",
    "raiden",
    "razor",
    "rosaria",
    "sara",
    "sayu",
    "shenhe",
    "shikanoin-heizou",
    "sucrose",
    "tartaglia",
    "thoma",
    "tighnari",
    "traveler-anemo",
    "traveler-dendro",
    "traveler-electro",
    "traveler-geo",
    "traveler-hydro",
    "venti",
    "wanderer",
    "wriothesley",
    "xiangling",
    "xianyun",
    "xiao",
    "xingqiu",
    "xinyan",
    "yae-miko",
    "yanfei",
    "yaoyao",
    "yelan",
    "yoimiya",
    "yun-jin",
    "zhongli",
  ];
  return characters.map((character) => ({
    params: { id: character },
  }));
}
---

<Layout title={String(id)}>
  <!-- PRINCIPAL -->
  <div
    class=`absolute inset-0 -z-10 h-full w-full bg-white element-${data.vision} `
  >
  </div>
  <div
    class="grid grid-cols-2 max-w-5xl mx-auto"
    style="min-height: calc(100vh - 56px);"
  >
    <div class="flex flex-col relative py-28 z-10">
      <h2 class="text-7xl font-bold uppercase">
        {id.includes("traveler") ? id : data.name}
      </h2>

      <h3
        class="text-3xl font-semibold uppercase translate-x-2 text-neutral-700"
      >
        {data.title}
      </h3>
      <div>
        <VisionCard
          vision={data.vision_key.toLocaleLowerCase()}
          rarity={data.rarity}
          description={data.description}
        />
      </div>
      {
        data.description && (
          <p class="text-xl mt-5 font-[460] drop-shadow-md bg-black/60 text-white p-5">
            {data.description}
          </p>
        )
      }
    </div>
    <div class="w-full flex justify-center relative">
      <img
        class="h-full object-cover absolute overflow-visible"
        src={id.includes("traveler")
          ? "https://genshin.jmp.blue/characters/traveler-anemo/portrait"
          : `https://res.cloudinary.com/dnr4oeapp/image/upload/genshin-splashs/${id.toLocaleLowerCase()}.png`}
        alt=""
      />
    </div>
  </div>
  <!--! separator SVG WAVE -->
  <div
    style="overflow: hidden;"
    class="-translate-y-[100px] w-screen absolute right-0"
  >
    <svg
      preserveAspectRatio="none"
      viewBox="0 0 1200 120"
      xmlns="http://www.w3.org/2000/svg"
      style="fill: #f5f5f5; width: 100%; height: 100px; transform: rotate(180deg);"
    >
      <path
        d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
        opacity=".25"></path>
      <path
        d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
        opacity=".5"></path>
      <path
        d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z"
      ></path>
    </svg>
  </div>
  <!--! more information -->
  <div class="bg-neutral-100 py-14">
    <div class="grid grid-cols-1 gap-14 max-w-5xl mx-auto">
      <!--* BASIC INFORMATION -->
      <HeadCharacter id={id} data={data} />
      <!-- *TALENTS -->
      <div class="flex flex-col gap-14">
        <!--? TALENTOS iwi-->
        <Talents id={id} data={data} />
        <!-- ? PASIVAS -->
        <Passives id={id} data={data} />
        <!-- ? CONSTELLATIONS -->
        <Constellations id={id} data={data} />
      </div>
    </div>
  </div>
</Layout>

<style>
  .element-Hydro {
    background: radial-gradient(
      circle at 50% -50%,
      rgb(255, 255, 255, 0.4) 60%,
      rgb(59 130 246)
    );
    /* [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)] */
    /* radial-gradient(125%_125%_at_50%_10%,#fff,#63e) */
  }
  .element-Electro {
    background: radial-gradient(
      circle at 50% -140%,
      rgb(255, 255, 255, 0.4) 70%,
      #a855f7
    );
  }
  .element-Cryo {
    background: radial-gradient(
      circle at 50% -140%,
      rgb(255, 255, 255, 0.4) 70%,
      #06b6d4
    );
  }
  .element-Pyro {
    background: radial-gradient(
      circle at 50% -140%,
      rgb(255, 255, 255, 0.4) 70%,
      #ef4444
    );
  }
  .element-Anemo {
    background: radial-gradient(
      circle at 50% -140%,
      rgb(255, 255, 255, 0.4) 70%,
      #2dd4bf
    );
  }
  .element-Geo {
    background: radial-gradient(
      circle at 50% -140%,
      rgb(255, 255, 255, 0.4) 70%,
      #f59e0b
    );
  }
  .element-Dendro {
    background: radial-gradient(
      circle at 50% -140%,
      rgb(255, 255, 255, 0.4) 70%,
      #22c55e
    );
  }
  
</style>
